{% load static %}
<!DOCTYPE html>
<html style="background: white">
<head>
    <meta charset="UTF-8">
    <title>Marmar</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <nav class="navbar-main">
        <div class="navbar-logo">
            <img src="" alt="">
        </div>
        <div class="navbar">
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>