{% extends 'base.html' %}


{% block content %}
    <section class="section">
        <div class="section_item">
            {% for item in project %}
            <div class="pr-1">
                <a href="{% url 'project_detail_url' item.pk %}">
                    {% if item.image1 %}
                        <img src="{{ item.image1.url }}" alt="" style="width: 100%;height: 100%;transition: 0.5s">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}